@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-color: #1f2937;
  --main-white: #efefef;
  --main-black: #2a2a2a;
  --primary-color: #706fc7;
  --primary-color-hover: #5e5dc0;
  --main-slate-400: #94a3b8;
  --main-slate-700: #334155c8;
  --main-gray: #9a9da1c3;
  --main-gray-400: #9ca3af;
  --main-gray-500: #6b7280;
  --main-gray-600: #4b5563;
  --main-gray-700: #374151;
  --main-indigo-200: #c7d2fe;
  --main-red-500: #ef4444;
}

input:checked + div {
  @apply border-blue-500;
}
input:checked + div svg {
  @apply block;
}
